/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.button-wrapper a.button.alt:hover span{
  color: #000;
}
div#topbar ul.storename .phone a span:before {
  content: "\f095";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  font-size: 19px !important;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 5px;
}
div#topbar ul.storename .phone a:hover span {
  color: #000;
}

div#mobile_top_bar ul,
div#mobile_top_bar p {
  margin: 0;
  padding: 0;
}
div#mobile_top_bar * {
  text-align: center;
}

div#mobile_top_bar ul.storename .address a:before,
div#mobile_top_bar ul.storename p.inline_address a:before {
  content: "\F041";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  font-size: 19px !important;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 5px;
}

div#mobile_top_bar p.inline_address a:hover {
  color: #000;
}

body {
  font-weight: 400;
  font-size: 14px;
}

.button-wrapper br {
  display: none;
}

.fl-page {
  width: auto;
  overflow: hidden;
}

.roomvo-stimr.button {
  width: 85% !important;
  cursor: pointer !important;
}

.gform_wrapper li.hidden_label input {
  margin-top: 0px !important;
}

.njba-tabs-panel-content {
  padding: 0;
}

.tabReverce .njba-tab-section-main {
  display: flex;
  flex-direction: column-reverse;
}

.product-swatch .button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a.finance-btn {
  text-align: center !important;
}

.tabCenter .njba-tabs-nav {
  display: flex;
  justify-content: center;
}

.njba-tabs-label.njba-tab-active > .njba-tab-label-inner {
  border-color: #a00a20 !important;
}

.fl-page-bar-container {
  padding: 15px 0;
}

.f-0 .fl-module-content {
  display: none !important;
}

#menu-top-bar-menu .nav-link {
  font-size: 13px;
  font-weight: 500;
  padding: 2px 40px;
  font-family: "Montserrat", sans-serif;
}

.uabb-tabs-style-simple nav.uabb-tabs-nav {
  max-width: 900px;
  margin: 0 auto;
}

.fl-col-content
  .fl-module-advanced-tabs
  .uabb-tabs
  .uabb-tab-acc-title
  span.uabb-tabs-icon,
.fl-col-content
  .fl-module-advanced-tabs
  .uabb-tabs
  nav.uabb-tabs-nav
  li
  span.uabb-tabs-icon {
  display: none;
}

.uabb-tabs-style-simple nav.uabb-tabs-nav li a span {
  font-size: 16px;
}

.fl-page-nav .navbar-nav > li > a.nav-link {
  padding: 15px;
}

#menu-main-menu-1 li a {
  font-size: 14px;
}

.fl-page-nav {
  padding: 20px;
}

.fl-page-header .fl-page-header-container {
  padding: 10px 0;
}

.homeSlider .bx-pager.bx-default-pager {
  bottom: 30px;
}

.homeSlider .bx-wrapper .bx-pager.bx-default-pager a {
  background: #fff;
}

.homeSlider .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: transparent;
  border: 1px solid #fff;
}

.contact-us-sec-footer .fl-module-icon .fl-icon {
  width: 30px;
}

.contact-us-sec-footer .fl-icon-text {
  padding-left: 10px;
}

/* product row */

.product-row h4,
.product-row h5 {
  font-weight: 300;
  text-transform: uppercase;
}

.product-row h3 {
  text-transform: uppercase;
}
.rmp-menu-additional-content a {
  color: #fff;
}
.rmp-menu-additional-content a:hover {
  color: #a00a20;
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #cc3428;
  border-top: 1px solid #fff;
}

#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
  color: #f5f5f5 !important;
  opacity: 0.7;
}

.moove-gdpr-button-holder > button.mgbutton {
  background-color: #ba261b !important;
  color: #fff !important;
  border-radius: 0px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400 !important;
  text-transform: uppercase !important;
  box-shadow: none !important;
  border: none !important;
}
.moove-gdpr-button-holder > button.mgbutton:hover {
  background: #000000 !important;
  color: #fff !important;
  text-transform: uppercase !important;
  border-color: #000000 !important;
}

#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li
  button {
  color: #000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon {
  background-color: #ba261b !important;
  border: 1px solid #fff !important;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  i:hover,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href] > u.change-settings-button {
  color: #fff !important;
  background-color: #000000 !important;
}
button.moove-gdpr-infobar-close-btn:hover i {
  color: #000000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
  background-color: #ba261b !important;
  color: #fff !important;
  border: 0px !important;
  border-radius: 0px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400 !important;
  text-transform: uppercase !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
  background: #000000 !important;
  color: #fff !important;
  border: 0px !important;
}

.moove-gdpr-tab-main-content a:hover {
  color: #ba261b !important;
}

.gform-footer.gform_footer.top_label input {
  max-width: max-content;
  width: max-content;
  padding: 12px 24px;
}

.gfield_captcha_input_container.math_medium input {
  width: 80px !important;
}

@media (max-width: 1024px) {
  .fl-page-header .fl-page-header-container {
    width: 100%;
    max-width: 1000px;
  }
  .fl-page-header.fl-page-nav-right .fl-page-nav {
    padding: 10px;
  }
  #menu-top-bar-menu .nav-link {
    padding: 2px 7px !important;
  }
  .fl-page-nav .navbar-nav > li > a.nav-link {
    padding: 15px 10px;
  }
  div#responsive-menu-container
    #responsive-menu
    li.responsive-menu-item
    > a:hover,
  div#responsive-menu-container
    #responsive-menu
    li.responsive-menu-item
    > a:focus,
  div#responsive-menu-container #responsive-menu li.responsive-menu-item a,
  div#responsive-menu-container
    #responsive-menu
    li.responsive-menu-current-item
    > a.responsive-menu-item-link {
    background: #212122 !important;
  }
}

/* @media (min-width: 992px) {
  .product-grid.swatch .row > :nth-child(4n + 1) {
    clear: left;
  }
  .product-grid.rooms .row > :nth-child(4n + 4) {
    clear: left !important;
  }
} */

@media (max-width: 992px) {
  footer .footerSocial-icons ul.social-icons {
    margin-top: 15px;
  }
  .product-detail-layout-5 .product-swatch,
  .product-detail-layout-5 .product-box,
  .product-detail-layout-5 .toggle-image-thumbnails,
  .product-detail-layout-5 .product-swatch .img-responsive {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

@media (max-width: 991px) {
  button#responsive-menu-button {
    position: absolute !important;
    top: 85px !important;
  }
  #menu-top-bar-menu .nav-link {
    padding: 3px 12px;
  }
  .fl-page-header-logo .fl-logo-img {
    height: auto !important;
  }
  div#responsive-menu-container
    #responsive-menu
    ul.responsive-menu-submenu
    li.responsive-menu-item
    a,
  div#responsive-menu-container
    #responsive-menu
    li.responsive-menu-item
    a
    .responsive-menu-subarrow {
    background: #3f3f3f !important;
  }
  div#responsive-menu-container #responsive-menu-additional-content {
    padding: 10px 5% !important;
    background: #212122 !important;
  }
  div#responsive-menu-container
    #responsive-menu
    li.responsive-menu-item
    a
    .responsive-menu-subarrow {
    border-color: #3f3f3f !important;
  }
  div#responsive-menu-container
    #responsive-menu
    ul.responsive-menu-submenu
    li.responsive-menu-item
    a
    .responsive-menu-subarrow {
    background: #000 !important;
  }
  footer .footerWrapper ~ .fl-row-fixed-width .fl-col-small {
    text-align: center;
    line-height: 2;
  }
  nav #menu-footer-menu li {
    list-style: none;
  }
  nav ul#menu-footer-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .product-grid.rooms .row > :nth-child(2n + 1) {
    clear: left;
  }
}

.product-grid .swatch-thumb img {
  width: 100%;
  height: auto;
}

.product-grid .fl-post-grid-post {
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  button#rmp_menu_trigger-1129952 {
    top: 100px;
  }
}

@media (max-width: 767px) {
  .uabb-photo-gallery-item,
  .mobile-view-100 .fl-col-small {
    width: 100% !important;
  }
  .product-row.featured h3,
  .product-row.featured h4,
  .product-row.featured h5 {
    text-align: center !important;
  }
  .product-row.featured h4 {
    margin-bottom: 20px !important;
  }
  .product-grid.swatch .row > :nth-child(2n + 1) {
    clear: left;
  }
  .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile
    .fl-page-header-logo {
    padding-left: 30px;
  }
}

/*Project Gallery */

.project-gallery .fl-photo-caption-below {
  text-align: left !important;
}

/* Image Galleries */

.fl-post-grid-gallery {
  width: 300px;
  height: 300px;
}

.gallery-menu ul li a:hover {
  text-decoration: none;
}

/* Reviews */

.reviews h4 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.reviews img {
  margin: 0;
  padding: 0 0 5px 0;
}

/* Product Grid */

.swatch-thumb {
  max-height: 238px;
  overflow: hidden;
}

.swatch-thumb img {
  width: 100%;
  height: auto;
}

.product-grid.swatch {
  text-align: center;
}

.product-grid.rooms {
  text-align: left;
}

.product-grid.featured {
  text-align: center;
}

.product-grid.swatch h2 {
  font-weight: 700;
  margin: 0 0 10px 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 16px;
}

.product-grid.swatch h4 {
  font-size: 10px;
  margin: 5px 0 0 0;
  padding: 0;
  text-transform: uppercase;
  color: #929292;
}

.product-grid.rooms h2 {
  font-weight: 700;
  margin: 10px 0 0 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 16px;
}

.product-grid.rooms h4 {
  font-size: 10px;
  margin: 5px 0 5px 0;
  padding: 0;
  text-transform: uppercase;
  color: #929292;
}

.strike-price {
  color: #929292;
  text-decoration: line-through !important;
  margin-right: 10px;
}

.sale-price {
  font-weight: 700;
  color: #212121;
}

.product-grid.featured h2 {
  font-weight: 700;
  margin: 0 0 15px 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 16px;
}

.product-grid.featured h4 {
  font-size: 10px;
  margin: 10px 0 0 0;
  padding: 0;
  text-transform: uppercase;
  color: #929292;
}

.product-grid .fl-button {
  margin-bottom: 10px;
}

.product-grid .fl-button-text {
  font-size: 12px;
}

.product-grid a {
  text-decoration: none;
  font-size: 13px;
}

.product-grid a.link {
  color: #929292;
}

.product-grid a.link:hover {
  text-decoration: underline;
  color: #929292;
}

.product-grid a.greylink {
  color: #908c7b;
}

.product-grid a.greylink:hover {
  text-decoration: underline;
  color: #908c7b;
}

.njba-tabs-style-7 .njba-tab-menu-main .njba-tab-label-inner {
  border-bottom: 4px solid transparent;
}

@media (min-width: 768px) and (max-width: 991px) {
  .product-grid.swatch .row > :nth-child(3n + 1) {
    clear: left;
  }
  .uabb-photo-gallery .uabb-photo-gallery-item.uabb-photo-item-grid {
    width: 50%;
  }
}

@media (max-width: 992px) {
  .max-width-issue .fl-module .fl-module-content.fl-node-content,
  .max-width-issue .fl-module-content.fl-node-content,
  .max-width-issue .fl-row-content-wrap {
    max-width: 400px;
    margin: 0 auto !important;
  }

  .fl-page-content .uabb-module-content.uabb-infobox.infobox-left,
  .fl-page-content .fl-module-heading .fl-heading,
  .fl-page-content .fl-rich-text,
  .fl-page-content .fl-rich-text *,
  .fl-page-content .review-wrap,
  .fl-page-content .fl-builder-content .fl-button-left,
  .fl-page-content .fl-cta-left *,
  .fl-page-content .fl-module-content .fl-rich-text ul.storename,
  .fl-page-content .fl-module-content .fl-rich-text ul.storename *,
  .fl-page-content
    .fl-module-content
    .uabb-infobox-text.uabb-text-editor
    ul.storename,
  .fl-page-content
    .fl-module-content
    .uabb-infobox-text.uabb-text-editor
    ul.storename
    *,
  .fl-page-content .fl-module-content ul.storename *,
  .uabb-module-content.uabb-button-wrap,
  .fl-page-content .fl-html {
    text-align: center !important;
  }
  .fl-page-content .fl-module-content .fl-rich-text ul,
  .fl-page-content .fl-module-content .fl-rich-text ol,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ul,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ol {
    margin: 0;
    padding-left: 20px;
  }

  .fl-page-content .fl-module-content .fl-rich-text ul *,
  .fl-page-content .fl-module-content .fl-rich-text ol *,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ul *,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ol *,
  .fl-page-content .text_left_content .fl-rich-text ul.storename *,
  .fl-page-content .text_left_content .fl-rich-text *,
  .fl-page-content .facet_filters * {
    text-align: left !important;
  }

  .fl-page-bar .fl-page-bar-nav#menu-top-bar-menu li {
    display: none;
  }
  .fl-page-bar .fl-page-bar-nav#menu-top-bar-menu li:last-child {
    display: block;
  }
  .max-width-issue .m-t-20 .fl-module-content.fl-node-content {
    margin: 20px auto 0 !important;
  }
  .fl-page-header-logo {
    text-align: left;
  }
  .fl-photo-content {
    max-width: 400px;
  }
  .btn-margin {
    margin: 10px 0;
  }
  .max-width-issue
    .fl-module
    .fl-module-content.fl-node-content
    .uabb-photo-content {
    margin-bottom: 20px;
  }
  .homeSlider
    .fl-slide-foreground.clearfix
    .fl-slide-content-wrap
    .fl-slide-content {
    padding: 0px;
  }
  .location-top
    .fl-col-content.fl-node-content
    .fl-module-html
    > .fl-module-content.fl-node-content,
  .location-top
    .fl-col-content.fl-node-content
    .fl-module-html
    ~ .fl-module-button
    .fl-module-content.fl-node-content,
  .location-top
    .fl-col-content.fl-node-content
    .fl-module-button
    ~ .fl-module-rich-text
    .fl-module-content.fl-node-content {
    margin: 20px 20px 0;
  }
  div.facetwp-per-page {
    text-align: center !important;
  }
  div.facetwp-per-page ~ .facetwp-pager {
    width: 100%;
  }
}

/* Facet CSS */

.facetwp-facet select {
  width: 100%;
  padding: 10px;
}

.facetwp-selections ul li {
  font-size: 16px;
}

.facetwp-per-page {
  text-align: right !important;
}

.facetwp-per-page select {
  padding: 5px;
}

.facetwp-pager {
  float: right;
}

.bottom-pager .facetwp-pager {
  float: none;
  text-align: right;
}

.facetwp-pager span.pager-text {
  font-size: 14px !important;
  padding-right: 10px;
}

.facetwp-pager span.pager-arrow {
  font-size: 28px;
}

.facetwp-pager a {
  color: #929292;
  vertical-align: middle;
}

.facetwp-pager a:hover {
  text-decoration: none;
}

.facetwp-page {
  display: inline-block;
  padding: 0px 4px;
  margin-right: 6px;
  cursor: pointer;
}

.product-count {
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.9);
}

.faceted_results {
  margin-top: 20px;
}

.facet-wrap {
  display: none;
}

.facet-wrap.is-hidden {
  display: none !important;
}

.facet_filters .facetwp-facet {
  margin-bottom: 25px;
}

.facet_filters strong {
  font-size: 16px;
  color: #cc3428 !important;
  display: block;
  margin: 0 0 10px;
}
.facet_filters .facet-wrap > strong {
  padding-bottom: 3px;
  border-bottom: 2px solid #cc3428 !important;
}
.facet-inner {
  max-height: 360px;
  overflow: auto;
}
.product-colors ul li.found {
  margin-right: 5px;
}
.product-detail-layout-6 .dual-button a {
  border-color: transparent;
}
/* Product Box */

.product-box {
  text-align: left;
}

.product-box a.fl-button {
  font-size: 13px;
  padding: 10px 20px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  width: 180px !important;
  display: block;
  text-align: center;
}

.product-box a.fl-button:hover {
  text-decoration: none;
}

.product-box a.fl-button.btn-white {
  background-color: transparent !important;
  border-color: #554e46 !important;
}

.product-box a.fl-button.view_more {
  background: #a00a20;
  border-color: #a00a20;
}

.product-box a.fl-button.view_more:hover {
  background: transparent;
}

.product-box a.fl-button.view_more:hover .fl-button-text {
  color: #a00a20;
}

.product-box h1 {
  margin: 0 0 0 0;
  padding: 0;
  text-transform: none;
  font-weight: 700;
}

.product-box h2 {
  margin: 0 0 0 0;
  padding: 0;
  font-size: 1.8rem;
}

/* Product Colors */

.product-colors ul {
  margin: 15px 0 0 0;
  padding: 0;
  list-style: none;
}

.product-colors ul li {
  display: inline-block;
  text-align: left;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

.product-colors ul li.found {
  font-size: 5rem;
  padding-right: 15px;
  font-weight: 300;
}

/* Product Attributes */

.product-atts ul {
  margin: 40px 0 0 0;
  padding: 0;
  color: #008c8c;
}

.product-atts ul li {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 20px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.product-atts a.fl-button {
  padding: 10px 40px;
}

.product-attributes {
  text-transform: capitalize;
  margin-bottom: 80px;
  margin-top: 60px;
}

.product-attributes table th,
.product-attributes table td {
  padding: 12px !important;
}

.product-attributes table th {
  width: 30%;
}

.product-attributes table td {
  width: 70%;
}

/* Product Swatch */

.product-swatch {
  text-align: center;
}

.product-swatch .img-responsive {
  background-size: contain !important;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 450px;
}

.product-swatch .img-responsive img {
  display: none;
  margin: 0 auto;
}

/* Product Variation */

.product-variations {
  margin: 80px 0 50px 0;
  text-align: center;
}

.product-variations > .row {
  display: block;
}

.product-variations img {
  width: 100%;
  height: auto;
  /* padding: 0px !important; */
}

img.product-logo {
  max-width: 140px;
  height: auto;
  margin-bottom: 15px;
}

/* Color Box */

.color-box {
  margin-bottom: 30px;
  line-height: normal;
  min-height: 180px;
}

.color-box small {
  font-size: 80%;
}

.product-brand {
  text-transform: uppercase;
  font-size: 0.85em;
  margin-bottom: 0;
  min-height: 20px;
  letter-spacing: 2px;
}

.product-detail-layout-5 .product-variations {
  margin: 0 0 50px;
  padding: 20px 0;
  position: relative;
  background: #fff9f2;
}

.slick-initialized .slick-slide {
  max-width: none;
}

/* Image Gallery Modal */

.galleryMenu .menu-item:not(.current-page-ancestor) a {
  color: rgba(255, 255, 255, 0.6);
}

.active-gallery-modal .fl-post-title {
  font-family: "PT Sans Narrow";
}

.footerSocial-icons ul.social-icons {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerSocial-icons ul.social-icons > li {
  padding: 0 10px;
  margin: 0 10px;
}

.footerSocial-icons ul.social-icons > li > a {
  color: #767676;
}

.footerWrapper {
  font-family: roboto;
}

.storename,
.footerWrapper .storename {
  padding: 0;
  list-style: none;
}

.footerWrapper .storename p {
  margin: 0 !important;
}

.njba-tabs-panel-content > p {
  display: none;
}

.backgroundImage-color {
  padding: 0 80px 50px;
  background: #fff9f2;
}

.njba-tabs.njba-tab-section-main
  .tab-align-center
  .njba-tabs-nav
  .njba-tabs-label.njba-tab-active
  .njba-tab-label-inner {
  border-color: rgb(160, 10, 32);
}

.fl-page .btnReverce a.fl-button {
  padding: 20px 35px;
  background: transparent;
  border-color: #ffffff;
}

.fl-page .btnReverce a.fl-button > * {
  color: #ffffff;
}

.fl-page .btnReverce a.fl-button:hover {
  background: #ffffff;
}

.fl-page .btnReverce a.fl-button:hover > * {
  color: #cc3428;
}

.search-wrapper {
  padding: 10px;
}

.phoneno > a {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.phoneno .storename {
  margin: 0px;
}

.navbar .nav .menu-item-has-children > a:after {
  content: "\f078";
  font-family: FontAwesome !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  vertical-align: top;
  margin: 2px 0 0 10px;
  font-weight: 400;
}

.navbar .nav .sub-menu .menu-item-has-children > a:after {
  content: "\f054";
  position: absolute;
  right: 15px;
  top: 50%;
  margin: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

button#responsive-menu-button {
  z-index: 999 !important;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type="checkbox"] {
  margin-top: 0px !important;
}

.form-wrap-shopat {
  z-index: 999;
}

#responsive-menu-additional-content a {
  color: #fff;
  font-size: 16px;
}

.timeEstimate .ginput_container_time select {
  width: 100px !important;
}

.facetwp-checkbox {
  font-size: 15px !important;
}

.iconM .storename .phone a span:before {
  content: "\f095";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  font-size: 19px !important;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 5px;
}
.iconM ul.storename .address a {
  position: relative;
  display: inline-block;
  padding-left: 20px;
}
.iconM ul.storename .address a:before {
  content: "\ea32";
  text-rendering: auto;
  font-size: 19px !important;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  margin-left: -5px;
  font-family: "Ultimate-Icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 0;
  top: 0;
}

/*Filter Select Design*/
.facetwp-selections ul:before {
  content: "Your Selection";
  font-weight: 700;
  font-size: 16px;
  border-bottom: 2px solid #cc3428;
  padding: 0px;
  width: 100% !important;
  position: relative;
  display: block;
  margin-bottom: 5px;
  color: #cc3428;
  padding: 5px 5px 5px 0px;
}
.facetwp-selections ul li .facetwp-selection-label {
  font-size: 14px;
  font-weight: 700;
}

.facetwp-selections ul li .facetwp-selection-value {
  font-size: 14px;
}

.facetwp-selections ul {
  padding-left: 0px;
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .fl-page-nav-right .fl-page-header-logo {
    margin: 0 20px;
  }
  .product-box a.fl-button {
    width: 100% !important;
  }
  .quality-family-best-wrap .uabb-list-icon-wrap {
    width: 60% !important;
    display: block;
    margin: 10px 0px !important;
  }
}

.fl-content-full.container {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.fl-page-nav-right.fl-page-header-fixed .fl-logo-img,
.fl-page-header-fixed .fl-logo-img {
  max-height: 75px !important;
}

@media (max-width: 599px) {
  button#responsive-menu-button.responsive-menu-button {
    height: 30px;
    width: 30px;
  }
  button#responsive-menu-button.responsive-menu-button .responsive-menu-inner,
  button#responsive-menu-button.responsive-menu-button
    .responsive-menu-inner::before,
  button#responsive-menu-button.responsive-menu-button
    .responsive-menu-inner::after {
    width: 15px;
  }
  button#responsive-menu-button.responsive-menu-button .responsive-menu-box {
    width: 16px;
  }
  #responsive-menu-container
    #responsive-menu
    ul.responsive-menu-submenu
    li.responsive-menu-item
    .responsive-menu-item-link {
    height: auto;
    line-height: 1;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

@media (max-width: 499px) {
  button#responsive-menu-button {
    position: absolute !important;
    top: 80px !important;
  }
  .rmp-menu-item-link {
    font-size: 75% !important;
  }
  button.rmp_menu_trigger {
    top: 68px !important;
    right: 2% !important;
  }
  nav ul#menu-footer-menu {
    flex-direction: column;
  }
  footer .menu a {
    padding: 5px !important;
  }
}

@media (max-width: 399px) {
  button#responsive-menu-button {
    position: absolute !important;
    top: 70px !important;
  }
}

/* Slider height issue on mobile */
@media (max-width: 992px) {
  .fl-content-slider .fl-slide-bg-photo {
    position: absolute !important;
    min-height: 500px !important;
  }
  .fl-content-slider
    .fl-slide-foreground
    .fl-builder-content
    .fl-row
    > .fl-row-content-wrap {
    min-height: 500px;
  }
  .fl-slide-mobile-photo {
    z-index: +2;
    position: relative;
    max-height: 500px !important;
    text-align: center !important;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .fl-slide-mobile-photo > img {
    padding: 50px;
    max-height: 500px !important;
    width: auto;
    margin: 0 auto;
  }
  .fl-content-slider .fl-slide {
    min-height: 500px !important;
    max-height: 500px !important;
  }
  .product-attributes table {
    table-layout: fixed !important;
  }
  footer,
  footer *,
  footer#djcustom-footer,
  footer#djcustom-footer h3,
  footer h3,
  footer .fl-module-content.fl-node-content {
    text-align: center !important;
  }
}

/* PLP Page Css iPad Air */
@media only screen and (max-width: 992px) {
  /* Slider height issue on mobile open */
  .fl-content-slider .fl-slide-bg-photo {
    position: absolute !important;
    min-height: 500px !important;
  }
  .fl-content-slider
    .fl-slide-foreground
    .fl-builder-content
    .fl-row
    > .fl-row-content-wrap {
    min-height: 500px;
  }
  .fl-slide-mobile-photo {
    z-index: +2;
    position: relative;
    max-height: 500px !important;
    text-align: center !important;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .fl-slide-mobile-photo > img {
    padding: 50px;
    max-height: 500px !important;
    width: auto;
    margin: 0 auto;
  }
  .fl-content-slider .fl-slide {
    min-height: 500px !important;
    max-height: 500px !important;
  }
  .fl-content-slider .fl-slide-bg-link {
    z-index: 2;
  }
  /* Slider height issue on mobile closed */

  /* Facet Filter CSS	- iPad */
  .facet_filters .close_bar {
    display: block;
  }
  #product-list-top-filters .fl-col-group .fl-col {
    width: 100% !important;
    text-align: center;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts,
  .facetwp-pager,
  .facetwp-per-page,
  .open_sidebar {
    text-align: center !important;
  }
  .facetwp-per-page-select {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .open_sidebar a {
    float: none !important;
  }
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar {
    background-color: #008c8c;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    display: block;
    margin-bottom: 20px;
  }
  .facet_filters .close_bar .close {
    float: right;
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
  }
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .facetwp-pager {
    float: none !important;
    margin-top: 10px;
  }
  /* Products List CSS - iPad */
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 33.33%;
    float: left;
    clear: none !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: left !important;
  }
  .product-row > div.col-md-3:nth-child(3n + 1) {
    clear: none !important;
  }
  .uabb-image-carousel img {
    min-height: 200px;
    object-fit: contain;
    max-width: 200px;
    margin: 0 auto;
  }
  div#fl-main-content .fl-row-bg-overlay:first-child .fl-row-content-wrap {
    min-height: 400px;
  }

  div#fl-main-content .formRow.fl-row-bg-overlay:first-child .fl-row-content-wrap {
    min-height: auto;
  }
  
  h1.fl-heading,
  h1 {
    font-size: 36px !important;
    line-height: 40px;
  }
}
@media only screen and (max-width: 599px) {
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 48%;
    clear: none !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: none !important;
  }
}
@media only screen and (max-width: 480px) {
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 100%;
    clear: both !important;
  }
}
/* PLP Page Css iPad Air */

@media only screen and (max-width: 480px) {
  button.rmp_menu_trigger {
    top: 68px !important;
  }
}

@media only screen and (max-width: 321px) {
  button.rmp_menu_trigger {
    top: 82px !important;
  }
}
